* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#App {
  width: 80%;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile__img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit:cover;
}

#profile p {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
#profile p a {
  text-decoration: none;
}

#twitter {
  margin: 1rem 0;
}

#slack {
  display: none;
}

#links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 95%;
  margin: 2rem auto;
}

#links a {
  background-color: #eaecf0;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding: 2.2rem;
  width: 100%;
  border-radius: 8px;
}

#icons {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 15px;
}
#icons img {
  width: 50px;
  height: 50px;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2rem 0 0 0;
  border-top: 1px solid #eaecf0;
  padding: 1rem 0;
}

#footer p {
  color: #667085;
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 600px) {
  #App {
    width: 90%;
  }
  #container {
    width: 95%;
  }
  #profile__img {
    width: 150px;
    height: 150px;
  }
  #links {
    width: 95%;
  }

  #links a {
    font-size: 14px;
  }
  #footer {
    flex-direction: column;
    gap: 2rem;
  }
}