* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#App {
  width: 80%;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile__img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
}

#profile p {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
#profile p a {
  text-decoration: none;
}

#twitter {
  margin: 1rem 0;
}

#slack {
  display: none;
}

#links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 95%;
  margin: 2rem auto;
}

#links a {
  background-color: #eaecf0;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding: 2.2rem;
  width: 100%;
  border-radius: 8px;
}

#icons {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 15px;
}
#icons img {
  width: 50px;
  height: 50px;
}

/*Contact page*/
#contact-me {
  width: 80%;
  display: flex;
  margin: 40px auto 40px 200px;
  flex-direction: column;
  justify-content: center;
}
#contact-me h2 {
  font-weight: 600;
  font-size: 36px;
}
 .contact-me__para {
  font-weight: 400;
  font-size: 20px;
  margin: 20px 0 30px 0;
}
form {
  display: grid;
  gap: 30px;
}
label {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
  color: #344054;
}
.name {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.fname,
.lname {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.email-div {
  width: 80%;
  display: flex;
  flex-direction: column;
}
input[type="text"],
input[type="email"],
textarea {
  border-radius: 8px;
  padding: 15px;
  border: 1px solid #d0d5dd;
  outline: none;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  font-size: 16px;
}
textarea {
  width: 80%;
  height: 132px;
  display: flex;
  flex-direction: column;
}
input:focus,
textarea:focus {
  border-color: #84caff;
}
.agreement {
  display: flex;
  align-items: center;
}
#checkbox {
  border-radius: 3px;
  border: 1px solid #d0d5dd;
  margin-right: 10px;
}
.agreement p {
  font-weight: 400;
  font-size: 16px;
}
#btn__submit {
  width: 80%;
  text-align: center;
  border-radius: 8px;
  background: #1570ef;
  padding: 15px 20px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 16px;
}
#btn__submit:hover{
  opacity: .5;
  transition: 1s ease-out;
}

input[type=text]:focus:invalid,input[type=email]:focus:invalid,textarea:focus:invalid{
  border: solid 1px rgba(248, 150, 135, 1);
}
input[type=text] + .error,input[type=email] + .error,textarea + .error{
  display: none;
}
input[type=text]:focus:invalid + .error,input[type=email]:focus:invalid + .error,textarea:focus:invalid + .error{
  display: inline;
}
input[type=text]:focus:valid,input[type=email]:focus:valid,textarea:focus:valid {
  border: solid 1px rgba(81, 203, 238, 1);
}


/*Contact me ends here*/
#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2rem 0 0 0;
  border-top: 1px solid #eaecf0;
  padding: 1rem 0;
}

#footer p {
  color: #667085;
  font-weight: 400;
  font-size: 16px;
}
@media(max-width: 768px) {
  #contact-me{
    margin: 40px auto 40px 50px;
  }
}
@media (max-width: 600px) {
  #App {
    width: 95%;
  }
  #container {
    width: 95%;
  }
  #profile__img {
    width: 150px;
    height: 150px;
  }
  #links {
    width: 95%;
  }

  #links a {
    font-size: 14px;
  }
  #contact-me{
    margin: 40px auto 40px auto;
  }
  .name{
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
  .fname,.lname, .email-div, textarea{
    width: 100%;
  }
  #btn__submit {
    width: 100%;
  }
  #footer {
    flex-direction: column;
    gap: 2rem;
  }
}
